#listOptions {
  margin-right: 8px;
}

#todo-items .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#todo-items .done-todo {
  text-decoration: line-through;
}

#todo-items .todo-item-title {
  padding-top: 8px;
}

#todo-items .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#todo-items .list-group-item .btn-xs {
  padding: 0;
}

#todo-items .todo-item-checkbox {
  padding-top: 8px;
}

#todo-items .todo-item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}

.tag-add-container {
  float: right;
  margin-left: 8px;
  margin-top: 23px;
}

h3 {
  color: black;
  font-weight: bold;
}

.tag-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tag-name {
  margin-right: 10px;
}

.delete-button {
  
  color: red;
  border: none;
  cursor: pointer;
}

.top-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 1px;
}

.tag-item {
  cursor: pointer;
  opacity: 0.5;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}